<div id="newNote">
	<div style="margin:0 20px;">
		<div style="border-bottom:1px solid #ccc;">
			<div style="width:100%;">
				<input id="newNoteTitle" type="text" style="width:100%; border:none; outline:none; font-size:28px; margin-bottom:20px; margin-top:15px; text-align:center; background-color:transparent;" placeholder="笔记标题">
			</div>
			<div style="width:100%;">
				<span class="glyphicon glyphicon-user">: <%= user.email %></span>
				<span>&nbsp;&nbsp;</span>
				<span class="glyphicon glyphicon-tag" style="font-size:12px;"><input id="newNoteTag" style="outline:none; border:none; background-color:transparent;" type="text" placeholder="新建标签"></span>
			</div>
		</div>
		<textarea name="newNoteText" id="newNoteText" cols="30" rows="10" style="outline:none; border:none; width:100%; height:500px; background-color:transparent;" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;建议用Markdown语法书写"></textarea>
		<script>
			//定义写笔记时文字输入区的focus事件=============================================================================
			$('#newNoteText').focus(function() {
				$('#newNoteCancel').fadeOut(function() {
					$('#newNoteEnsure').fadeIn();
				})
			})
		</script>
	</div>
</div>